<details open>
  <summary>Как получить токен сообщества?</summary>
  <div class="vf-faq__body">
    <p>1. Откройте настройки сообщества</p>
    <p>2. Перейдите в <b>Работа с API</b> &rarr; <b>Создать ключ</b></p>
    <p>3. Выберите нужные права доступа (как минимум: сообщения сообщества)</p>
    <p>4. В настройках <b>Long Poll API</b> включите Long Poll, выберите версию <b>5.199+</b></p>
    <p>5. Включите нужные типы событий (как минимум: входящие сообщения)</p>
    <p>Если токен начинается с <code>$</code>, VKFlow автоматически подставит значение из переменной окружения: <code>app.run("$VK_TOKEN")</code></p>
  </div>
</details>
